body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 0 50px;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  color: #293552;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-searches {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.search {
  padding-bottom: 30px;
}
.search__label {
  font-weight: bold;
  font-size: 18px;
}
.search input {
  padding: 5px;
  border: 1px solid #596b82;
  width: 300px;
  margin-left: 20px;
  border-radius: 3px;
}
.search__button{
  display: inline-block;
  height: 30px;
  padding: 5px;
  border: 1px solid #868ea0;
  background-color: white;
}

.tables {
  display: flex;
  justify-content: space-between;
}


.table {
  width: 48%;
  border: 1px solid #868ea0;
  background-color: white;
  height: 100%;
}
.tableheader {
  background-color: #232f46;
  font-weight: bold;
  color: white;
  padding: 10px;
  display: flex;
}

.table-row {
  display: flex;
  padding: 5px;
  border: 1px solid #868ea0;
  margin: 4px;
  background-color: white;
}

.table-row:nth-child(2n+1) {
  background-color: rgba(255, 164, 84, 0.3);
}

.table__cell {
  margin-right: 10px;
}
.table__cell--short {
  flex-shrink: 0;
  width: 50px;
}
.table__cell:last-child {
  margin-right: 0px;
}

#make-drag:hover {
  cursor: pointer;
  background-color: rgba(224, 57, 57, 0.3);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #336666;
  background: #32646b url(images/ui-bg-1.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #fff;
}

.ui-state-default {
  background: red;
}
